body{
    background-color: black;
    background-image: url(imagens/fundo_neo.jpg);
    background-repeat: repeat-y;
    background-position: right;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;
    background-image: url(imagens/fundo_matrix.jpg);
    width: 88%;
    text-align: left;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgreen;
    text-align: justify;
    width: 88%;
    line-height: 1.2;
    
}
.mtx{
    text-align: right;

}